{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

<div class="post-nav-top">
    <a href="/">{{@blog.title}}</a>
</div>

<main class="content" role="main">

    <article class="{{post_class}}">

        {{! Everything inside the #post tags pulls data from the post }}
        {{#post}}
        <div class="noarticleimage">
            <div class="post-meta">
                <h1 class="post-title">{{{title}}}</h1>
                <div class="cf post-meta-text">
                    <time datetime="{{date format=" YYYY-MM-DD "}}">
                        {{date format='DD MMM YYYY'}}
                    </time>
                    , tagged on&nbsp;
                    {{#foreach tags}}
                        <span class="post-tag-{{slug}}">
                            {{#if @first}}{{else}}, {{/if}}
                            <a href="/tag/{{slug}}">{{name}}</a>
                        </span>
                    {{/foreach}}
                </div>
            </div>
        </div>
        <br>
        <br>

        <section class="post-content">
            <div class="post-reading">
                <span class="post-reading-time"></span> read
            </div>
            <a name="topofpage"></a>
            {{content}}
        </section>
        <footer class="post-footer">
            <section class="share">
                <hr>
                <p>If you liked this article and think others should read it, please share it on</p>
                <a class="fa fa-lg fa-twitter" target="_blank" rel="noopener noreffer"
                    href="http://twitter.com/share?text={{encode title}}&url={{url absolute=" true "}}"
                >
                    <span class="hidden">Twitter</span>
                </a>
                <a class="fa fa-lg fa-linkedin" target="_blank" rel="noopener noreffer"
                    href="http://www.linkedin.com/shareArticle?mini=true&url={{url absolute=" true "}}&title={{encode title}}&summary={{encode (excerpt characters="130")}}&source={{encode @blog.title}}"
                >
                    <span class="hidden">Linked In</span>
                </a>
            </section>
        </footer>
        {{> comment-list}}
        {{/post}}        
    </article>

</main>

{{> footer}}